[Unit]
Description=Holdsport Bot
After=network.target

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/holdsport-bot
Environment=PATH=/home/pi/holdsport-bot/venv/bin
ExecStart=/home/pi/holdsport-bot/venv/bin/python main.py
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target 